<style>
  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

</style>

<!-- Toolbar -->
<app-header></app-header>
<div class="content" role="main">
  <upload-widget></upload-widget>
  <vehicle-card></vehicle-card>
  <data-grid></data-grid>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>